<h1>Please create your article!</h1>
<form action="/articles" method="POST">
<label for="title">Title</label>
<input id="title" type="text" name="article[title]" />
<label for="content">Content</label>
<input id="content" type="text" name="article[content]"/>
<input type="submit" name="Submit" value="submit"/>
</form>